        body {
          margin: 0;
          margin-bottom: 25px;
          padding: 0;
          background-color: #eee;
          background: #CCC url(http://data.unep-wcmc.org/images/background.png) repeat-x 0% 0%;
          font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
          font-size: 13px;
          color: #333;
        }

        div.container {
        }

        div.header {
          color: #eee;
        }

        div.navigation{
          background-color:#333
        }

        div.navigation a{
          text-decoration:none;
          color:white;
        }

        ul.menu {
          margin:0px;
          list-style-type:none;
          padding:5px;
        }

        ul.menu li {
          text-align:center;
        }

        div.main_content {
          background-color:#FFF;
          padding:10px;
        }
