<div class="box grid_8">
  <h2>About the project</h2>
  <div class="box_body">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus id lobortis urna. Nunc quis sapien ac enim molestie placerat tincidunt et risus. Duis ut justo eu lorem interdum euismod. Nunc molestie magna vel enim bibendum blandit. Duis sit amet metus in massa rhoncus ultricies et porta turpis. Nullam rhoncus pellentesque justo, luctus consectetur lectus pharetra congue. Quisque volutpat nibh non libero gravida tincidunt. Ut nulla sapien, commodo euismod porta a, tempor eget magna. Suspendisse quis lorem quis tortor pretium aliquet. Vivamus viverra, lorem eu malesuada tincidunt, elit odio lacinia enim, vitae interdum ante felis non ipsum. Pellentesque eget tortor lorem. Morbi aliquet suscipit lobortis. Sed in sem sem. In ac mauris eget orci congue luctus nec id nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam sem nunc, ullamcorper non vehicula et, consectetur ut lacus. Integer fringilla leo at tellus ultricies commodo. Cras gravida semper tellus sit amet fringilla. Fusce tempus fringilla vehicula.
    </p>
    <p>
      Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam aliquam nisi a magna imperdiet rhoncus. Integer hendrerit egestas rhoncus. Curabitur non ipsum a sapien interdum mattis vel ac velit. In nec ullamcorper mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ut diam sed tellus aliquet placerat ut vel elit. Nulla ultrices orci id enim facilisis pulvinar. Aliquam et ipsum in dui iaculis convallis quis nec nibh. Praesent viverra gravida sem a convallis. Mauris nec nunc sed augue condimentum volutpat. Nullam sollicitudin placerat nisl, sed molestie enim feugiat et. Donec suscipit aliquet metus vitae sagittis. Praesent placerat tellus et arcu volutpat luctus.
    </p>
    <p>
      Donec in nulla augue, vitae facilisis velit. Phasellus mauris tellus, eleifend eleifend iaculis ac, vehicula id ligula. Aenean quis dolor tellus. Vestibulum non purus a dui dictum porttitor. Etiam hendrerit fermentum tortor et fringilla. Donec in velit nec leo ultrices aliquam nec nec ipsum. Aliquam nunc erat, aliquam sit amet imperdiet sit amet, dictum et velit. Quisque ultricies dolor quis orci semper ultrices. Morbi bibendum sodales luctus. Sed imperdiet nunc risus. Donec ut est urna, in lobortis massa. Donec et massa nunc, sed tristique est. Proin suscipit, velit vitae commodo rutrum, mi mauris ultrices diam, a euismod dolor dolor a tellus. Sed lacus leo, tempus a tincidunt at, ultrices sed erat. Mauris at dui ligula, ut semper orci. Curabitur eget enim sed justo suscipit ullamcorper. Sed aliquet urna et ipsum semper ornare.
    </p>
  </div>
</div>

<div class="box grid_4">
  <h2>Map of project area</h2>
  <div class="box_body">
    <%= image_tag 'map.png' %>
  </div>
</div>

<div class="box grid_8">
  <h2>Project Partners</h2>
  <div class="box_body">
    <p>
      Partner list goes here
    </p>
  </div>
</div>
