<!DOCTYPE html>
<html>
<head>
  <title>Climate Change and Protected Areas in West Africa</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container clearfix">
    <div class="header grid_12">
      <h1>Climate Change and Protected Areas in West Africa</h1>
    </div>
    <div class="navigation grid_12">
      <ul class="menu grid_12">
        <li class="grid_4">Information</li>
        <li class="grid_4">Data and Tools</li>
        <li class="grid_4">People</li>
      </ul>
    </div>

    <div class="main_content grid_12">
      <%= yield %>
    </div>
  </div>

</body>
</html>
